<a href="https://colab.research.google.com/github/hihunjin/Code-snippet-for-everything/blob/main/pandas/apply_map_on_index_column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget https://people.sc.fsu.edu/~jburkardt/data/csv/biostats.csv -O biostats.csv

In [4]:
import pandas as pd

df = pd.read_csv('biostats.csv', index_col=0)
df.columns

Index(['     "Sex"', ' "Age"', ' "Height (in)"', ' "Weight (lbs)"'], dtype='object')

In [5]:
df

           "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
Name
Alex         "M"      41              74              170
Bert         "M"      42              68              166
Carl         "M"      32              70              155
Dave         "M"      39              72              167
Elly         "F"      30              66              124
Fran         "F"      33              66              115
Gwen         "F"      26              64              121
Hank         "M"      30              71              158
Ivan         "M"      53              72              175
Jake         "M"      32              69              143
Kate         "F"      47              69              139
Luke         "M"      34              72              163
Myra         "F"      23              62               98
Neil         "M"      36              75              160
Omar         "M"      38              70              145
Page         "F"      31              67              135
Quin         "M"      29              71              176
Ruth         "F"      28              65              131

In [6]:
df.index = df.index.map(lambda x: x.lower())
df

           "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
Name
alex         "M"      41              74              170
bert         "M"      42              68              166
carl         "M"      32              70              155
dave         "M"      39              72              167
elly         "F"      30              66              124
fran         "F"      33              66              115
gwen         "F"      26              64              121
hank         "M"      30              71              158
ivan         "M"      53              72              175
jake         "M"      32              69              143
kate         "F"      47              69              139
luke         "M"      34              72              163
myra         "F"      23              62               98
neil         "M"      36              75              160
omar         "M"      38              70              145
page         "F"      31              67              135
quin         "M"      29              71              176
ruth         "F"      28              65              131