<a href="https://colab.research.google.com/github/hihunjin/Code-snippet-for-everything/blob/main/pandas/change_type_column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%%capture
!wget https://people.sc.fsu.edu/~jburkardt/data/csv/biostats.csv -O biostats.csv

In [2]:
import pandas as pd
df = pd.read_csv('biostats.csv')

In [7]:
print(df.columns)
df.head()

Index(['Name', '     "Sex"', ' "Age"', ' "Height (in)"', ' "Weight (lbs)"'], dtype='object')

   Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
0  Alex         "M"      41            74.0              170
1  Bert         "M"      42            68.0              166
2  Carl         "M"      32            70.0              155
3  Dave         "M"      39            72.0              167
4  Elly         "F"      30            66.0              124

## Change types of each column

In [10]:
df = df.astype({
    ' "Height (in)"': float,
    ' "Weight (lbs)"': bool
})
df.head()

   Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
0  Alex         "M"      41            74.0             True
1  Bert         "M"      42            68.0             True
2  Carl         "M"      32            70.0             True
3  Dave         "M"      39            72.0             True
4  Elly         "F"      30            66.0             True