<a href="https://colab.research.google.com/github/hihunjin/Code-snippet-for-everything/blob/main/pandas/pandas_random_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing pandas module
import pandas as pd

# reading csv file from url
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")

# dropping null value columns to avoid errors
data.dropna(inplace = True)

# substring to be searched
sub ='a'

# creating and passing series to new column
data["Indexes"]= data["Name"].str.contains(sub)

# display
data

              Name            Team  Number  ...        College     Salary Indexes
0    Avery Bradley  Boston Celtics     0.0  ...          Texas  7730337.0    True
1      Jae Crowder  Boston Celtics    99.0  ...      Marquette  6796117.0    True
3      R.J. Hunter  Boston Celtics    28.0  ...  Georgia State  1148640.0   False
6    Jordan Mickey  Boston Celtics    55.0  ...            LSU  1170960.0    True
7     Kelly Olynyk  Boston Celtics    41.0  ...        Gonzaga  2165160.0   False
..             ...             ...     ...  ...            ...        ...     ...
449    Rodney Hood       Utah Jazz     5.0  ...           Duke  1348440.0   False
451  Chris Johnson       Utah Jazz    23.0  ...         Dayton   981348.0   False
452     Trey Lyles       Utah Jazz    41.0  ...       Kentucky  2239800.0   False
453   Shelvin Mack       Utah Jazz     8.0  ...         Butler  2433333.0    True
456    Jeff Withey       Utah Jazz    24.0  ...         Kansas   947276.0   False

[364 rows x 10 columns]

In [2]:
data.sample(n = 1000, replace=True, random_state = 2).reset_index()

     index               Name  ...      Salary  Indexes
0      203          Ty Lawson  ...    211744.0     True
1       19       Jarrett Jack  ...   6300000.0     True
2       91       Cole Aldrich  ...   1100602.0    False
3       27         Henry Sims  ...    947276.0    False
4      372        Drew Gooden  ...   3300000.0    False
..     ...                ...  ...         ...      ...
995    426  Russell Westbrook  ...  16744218.0    False
996    301      Kawhi Leonard  ...  16407500.0     True
997      1        Jae Crowder  ...   6796117.0     True
998    312         Al Horford  ...  12000000.0    False
999    380     Garrett Temple  ...   1100602.0     True

[1000 rows x 11 columns]